body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.header-content {
    text-align: center;
    margin-bottom: 20px;
}

.greeting {
    font-size: 18px;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #0056b3;
}

.month {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.budget-summary {
    text-align: center;
    margin-bottom: 20px;
}

.total-budget {
    font-size: 32px;
    font-weight: bold;
}

.budget-bar-chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.budget-form, .item-form, #filter-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"],
button {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#items-list {
    margin-top: 20px;
}

.item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
}

.item-amount {
    margin-left: 10px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.delete-btn:hover {
    background-color: darkred;
}
